<div class="container text-center">
  <h4>ようこそ！　Natulax へ</h4>
  <div>
    <%= image_tag "tree.jpg",width:"90%", height:"90%" %>
  </div>
  <p>
    Natulaxは自然の画像を閲覧・共有するコミュニティサイトです。</br>
    自然の画像による癒しをテーマにしております。</br>
    自然の画像を見て癒されたり、日常で癒された画像を共有したりなど</br>
    ご自由にお使いください。
  </p>
</div>
