<div class="container">
  <h4>ユーザ一覧</h4>
  <table class="table">
    <thead>
      <tr class="table-info">
        <th>ユーザID</th>
        <th>ユーザ名</th>
        <th>ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @end_users.each do |end_user| %>
      <tr>
        <td><%= end_user.id %></td>
        <td><%= end_user.name %></td>
        <td>
          <% if end_user.is_active %>
          <span class="text-success">有効</span>
          <% else %>
          <span class="text-danger">退会済み</span>
          <% end %>
        </td>
      　<td><%= link_to "詳細", admin_end_user_path(end_user.id),class:"btn btn-success" %></td>
    　</tr>
    　<% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @end_users %>
  </div>
</div>