<div class="container">
  <div class="row">
    <h4>カテゴリ編集</h4>
  </div>
  <div class="row">
    <%= form_with model: @category, url: admin_category_path do |f| %>
    <div class="form_group">
      <label for="inputName">カテゴリ名</label>
      <%= f.text_field :name, id:"inputName", placeholder:"カテゴリ名",class:"form-control" %>
    </div>
    <%= f.submit "変更を保存",class:"btn btn-primary mt-3"  %>
    <% end %>
  </div>
</div>